<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468487970493-c9gv7p0vb02m4ubilsg8e6icqm1j4fuq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468487970493-c9gv7p0vb02m4ubilsg8e6icqm1j4fuq</string>
	<key>API_KEY</key>
	<string>AIzaSyCkp-yFB5FIl93p-d3A1gmOyHuQISogoCI</string>
	<key>GCM_SENDER_ID</key>
	<string>468487970493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hostelConnect</string>
	<key>PROJECT_ID</key>
	<string>hostel-connect-106e0</string>
	<key>STORAGE_BUCKET</key>
	<string>hostel-connect-106e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468487970493:ios:aecc42e4823e948034e1d4</string>
	<key>DATABASE_URL</key>
	<string>https://hostel-connect-106e0-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>